.contact {
  width: 1366px;
  height: 787px;

  background-image: url(/assets/Background_Contacts.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    color: var(--purple);
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 48px;
  }

  .links {
    gap: 16px
  }

  a {
    width: 400;
    height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-300);

    border-radius: 8px;

    padding: 20px;

    text-decoration: none;

    transition: all 0.3s ease-in-out;

    span {
      font: var(--text-md);
      color: var(--gray-500);

      padding: 12px;
    }

    .arrow {
      margin-top: 6px;
    }
  }

  a:hover {
    filter: brightness(1.3);
  }
}